/* Reset style sheet */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-size: 100%;
    font-family: 'Lobster', cursive;
    background: linear-gradient(125deg, rgba(247, 117, 61, 1), rgba(236, 159, 5, 1));
    color: #fff;
    overflow-x: hidden;
    line-height: 1.5;
  }
  
  img, video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
  
  /* Global */
  
body, html {
    height: 100%; 
}

.bolder-text {
  font-family:'Courier New', Courier, monospace;
  font-weight: 800;
}
  
/* Showcase */


.container {
  display: flex;
  height: 100vh; /* This will make the container take up the full viewport height */
  position: relative;
  z-index: 0;
}


.left.box {
  background-image:
    linear-gradient(125deg, rgba(246, 234, 16, 0.7), rgba(236, 105, 5, 0.7)), 
    url('../img/me.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60%;
  border-style: None;
  border-radius: 50px;
  height: 720px;
  width: 400px;
  margin: 50px 20px 10px 20px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  overflow: hidden; 
  z-index: 1;
  position: relative;
}


.left, .right {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.left {
  justify-content: space-between; 
}

.right {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr; /* This creates two equal width columns */
  grid-template-rows: repeat(3, 1fr); /* This creates three equal height rows */
}

.left.box h1{
   color: white;
   position: relative;
   left: 1px;
   top: -257px;
   transition: none 0s ease 0s;
   cursor: move;
   width: 360px;
}

.left.box h4{
  font-weight: lighter;
  font-family:'Courier New', Courier, monospace;
  font-size: 16px;
  padding: 0px;
  margin-top: 0;
  position: relative;
  left: 16px;
  top: -243px;
}

.left.box p {
  font-size: 19px;
  margin-top: 10px;
  width: 300px;
  text-align: left;
}

.img-me {
  margin: 40px; 
  height: 400px;
  width: 350px;
}


.box {
  height: 33.33%; /* This will make each box take up a third of the container's height */
  box-sizing: border-box; /* This includes the border in the element's total width and height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style: None;
  font-size: 23px;
  position: relative;
  overflow: hidden; 
}

/* Animation */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Animated background */

.bubbles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; 
}

.bubble {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  animation: float linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh); /* Move up to the height of the viewport */
  }
}

.about-me {
  background-color: rgba(3, 128, 223, 0.8);
  margin: 50px 20px 12px 20px;
  height: 220px;
  border-radius: 50px;
  transition: transform 0.3s ease;
  position: relative;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.con.hover {
  transform: scale(1.5); /* Scale up the box a bit */
  transition: transform 0.3s ease;
}

  
.skills {
  background-color: rgba(75, 255, 81, 0.8);
  height: 220px;
  margin: 50px 25px 12px 15px;
  border-radius: 50px;
  transition: transform 0.3s ease;
  position: relative;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.projects {
  background-color: rgba(135, 21, 250, 0.8);
  margin: 17px 20px 0px 20px;
  height: 220px;
  border-radius: 50px;
  transition: transform 0.3s ease;
  position: relative;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.copyright {
  font-size: 20px;
  background-color: rgba(2, 247, 255, 0.8);
  height: 220px;
  border-radius: 50px;
  margin: 0px 30px 0px 15px;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.contacts {
  background-color: rgba(246, 76, 33, 0.8);
  margin: 0px 20px 0px 20px;
  height: 220px;
  border-radius: 50px;
  transition: transform 0.3s ease;
  position: relative;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.carrier {
  background-color: rgba(251, 69, 69, 0.8);
  margin: 17px 30px 0px 15px;
  height: 220px;
  border-radius: 50px;
  transition: transform 0.3s ease;
  position: relative;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

/* For buttons */

.white-circle-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid white;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 30px;
  margin-bottom: 10px;
}


.white-circle-button:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

/* Modal About Me */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; 
  background-color: rgba(178, 187, 190, 0.8); /* Opacity */
}

.modal-content-about {
  background-color: #fefefe;
  color: black;
  margin:auto;
  padding: 20px 30px 0px 50px;
  border: 15px outset #00c4cc;
  width: 80%;
  height: 600px;
  overflow: auto; 
}

.close {
  margin-top:20px;
  margin-right: 20px;
  border-radius: 50%;  /* Round border for a circular shape */
  border: 1px solid white;
  font-size: 40px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: white;
  line-height: 35px;  /* To center the 'x' vertically */
  text-align: center;  /* To center the 'x' horizontally */
  float: right;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: black;
  transform: scale(1.1);
}

.modal-content-about p{
  font-family:'Courier New', Courier, monospace;
  font-weight: 500;
  margin-top: 20px;
}


.gradient-text{

  display: inline-block;
  text-align: left;
  width: 180px;
  font-size: 45px;
  background-image: linear-gradient(0deg,#2ca2b4 0%,#5598de 25%,
  #7f87ff 50%,#f65aad,#ec3d43);
  color: transparent;
  -webkit-background-clip: text;
}

#car_oldies {
  margin: 0px;
  height: 90px;
  width: 90px;
  padding-bottom: 10px;
  margin-right: 20px;
}

/* Modal Skills */

.modal-content-skills {
  background-image:
  linear-gradient(125deg, rgba(139, 255, 124, 0.7), rgba(75, 255, 81, 0.7)), 
    url('../img/superman.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  margin: auto;
  padding: 20px 30px 0px 50px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
  height: 700px;
  overflow: auto; 
}

.modal-content-skills h5{
  text-align: center;
  color: #dc5e34;
  font-size: 50px;
  padding-top: 20px;
  word-spacing: 20px;
}

.skills-section, .skills-section2 {
  margin-top: 20px;
  width: 100%;
  max-width: 1100px;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-section p {
  color: white;
  font-size: 20px;
  background-color: rgba(42, 24, 24, 0.6);
  border-radius: 20px;
  text-align:center;
  width: 200px;
  height: 45px;
  padding-top: 6px;
  margin: 0 auto 30px auto;
}

.skills-section2 p {
  color: white;
  font-size: 20px;
  background-color: rgba(42, 24, 24, 0.6);
  border-radius: 20px;
  text-align:center;
  width: 300px;
  height: 45px;
  padding-top: 6px;
  margin: 0 auto 30px auto;
}

.programming-list {
  list-style: none;
  padding: 0px;
  display: flex;
  margin-bottom: 10px;
}

.programming-item, .tools-item{
  display: flex;
  align-items: center; 
  justify-content: center;
}

.programming-item img {
  width: 60px; 
  height: 60px; 
  margin-right: 70px; 
  position: center;
}

.tools-item img {
  width: 60px; 
  height: 60px; 
  margin-right: 70px; 
  position: center;
}

#mongo {
  width: 30px; 
  height: 60px; 
  margin-right: 70px; 
  position: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width:120px;
  background-color: rgba(42, 24, 24, 0.6);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;  
  left: 50%; 
  margin-left: -60px; /* Use half of the width value */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tools-list {
  list-style: none;
  padding: 0px;
  display: flex;
  margin-bottom: 10px;
}

.skills-section-lg p {
  color: white;
  font-size: 20px;
  background-color: rgba(42, 24, 24, 0.6);
  border-radius: 20px;
  text-align:center;
  width: 200px;
  height: 45px;
  padding-top: 6px;
  margin: 20px auto 30px auto;
  position:relative;
  left: 270px;
  top: 0px;
}

.skills-section-lg {
  width: 100%;
  max-width: 520px;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.skills-section-lg h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.language-name {
  font-size: 18px;
  margin-left: 5px;
  position: relative;
  left: 130px;
  top: 22px;
}

#japanese {
  font-size: 18px;
  margin-left: 5px;
  position: relative;
  left: 70px;
  top: 22px;
}

#japan {
  position: relative;
  left: 63px;
  top: 20px;
}

.language img {
  position: relative;
  left: 133px;
  top: 20px;
}

.progress {
  background-color: #000000;
  border-radius: 50px;
  height: 25px;
  position: relative;
  left: 288px;
  top: -6px;
}

.progress-bar {
  background-color: #dc5e34;
  height: 100%;
  border: solid #000000;
  border-radius: 50px;
}

.progress-text {
  font-size: 16px;
  width: 800px;
  text-align: center;
  padding-left: 200px;
  position: relative;
  left: 344px;
  top:0;
}

.others-list {
  list-style: none;
  padding: 0px;
  display: flex;
  margin-bottom: 10px;
}

.others-item {
  margin-right: 30px;
  padding: 14px 20px;
  border: 5px solid #7f87ff;
  border-radius: 40px;
  display: inline-block;
  width: 300px;
  height: 60px;
  text-align: center;
  background-color: #7f87ff;
  cursor: pointer;
}

/* Projects */

.modal-content-projects {
  background: linear-gradient(125deg, #ff4e00,#ec9f05);
  color: black;
  margin:auto;
  padding: 20px 30px 0px 50px;
  border: 15px outset #00c4cc;
  width: 90%;
  height: 600px;
  overflow: auto; 
}

#computer {
  margin: 0px;
  height: 75px;
  width: 60px;
  padding-bottom: 20px;
  margin-right: 20px;  
}

.project {
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.project h3 {
  color: rgb(255, 106, 0);
  font-size: 28px;
  margin-bottom: 8px;
}

.project h6{
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 8px;
}

.project p{
  margin-bottom: 20px;
}

#pp_preview {
  position: center;
  padding: 0px 100px 0px 80px;
  height: 500px;
  width:  900px;
}

/* Carrier */

.modal-content-carrier {
  background-color: #fefefe;
  color: black;
  margin:auto;
  padding: 20px 30px 0px 50px;
  border: 15px outset #00c4cc;
  width: 80%;
  height: 600px;
  overflow: auto; 
}

.carrier-section{
  font-family: 'Courier New', Courier, monospace;
  margin: 10px 20px 10px 20px;
}

.carrier-section h2{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  background-color: rgba(38, 251, 255, 0.5);
  border-radius: 40px;
  padding: 20px;
  
}

/* Contacts */

.modal-content-contacts {
  background-image: 
    linear-gradient(125deg, rgba(247, 117, 61, 0.7), rgba(236, 159, 5, 0.7)), 
    url('../img/contact.jpeg'); 
  background-size: cover;
  background-position: center; 
  color: black;
  margin: auto;
  padding: 20px 30px 0px 50px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
  height: 700px;
  overflow: auto; 
}


.content-wrapper {
  width: 100%;
  max-width: 1180px;  
  position: relative;
}

.contact-info {
  background-color:rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
  color: white; /* White text */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 390px;
  margin-top: 0;
  position:relative;
  left: 62px;
  top: 149px;
  transition: none 0s ease 0s;
  cursor: move;
}

.contact-info p {
  margin: 20px 0; /* More space between lines */
  font-size: 20px;

}

.contact-info i {
  margin-right: 10px; /* Space between icon and text */
}

.contact-info a {
  color: white; 
}

.contact-info a:hover {
  color: #00c4cc; /* Change color on hover */
  text-decoration: none; /* Remove underline on hover */
}

.contact-form {
  font-family: 'Courier New', Courier, monospace;
  flex-basis: 40%;
  background-color: #ffffff;
  padding: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  height: auto;
  margin-right:50px;
  margin-top: 10px;
  width: 500px;
  position: relative;
  left: 633px;
  top: -287px;
}

.contact-form form label,
.contact-form form input {
  width: 100%;
  margin-bottom: 10px;
}

.contact-form form textarea {
  width: 100%;
  height: 200px; /* Fixed height, adjust this as needed */
  resize: none; /* Prevents the textarea from being manually resized */
  margin-bottom: 10px;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"] {
  height: 35px; 
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-bottom: 10px;
}

.contact-form form textarea {
  height: 100px; 
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-bottom: 10px;
}

.contact-form form input[type="text"]:focus,
.contact-form form input[type="email"]:focus,
.contact-form form textarea:focus {
  outline: none; 
}

.contact-form form input[type="submit"] {
  background-color: #00c4cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Full width button */
  padding: 15px; /* Increase padding to make the button larger */
  font-size: 18px; /* Increase font size */
}

.contact-form form input[type="submit"]:hover {
  background-color: #0099a3;
}

.modal-content-contacts h4{
  text-align: center;
  color: #0099a3;
  font-size: 50px;
  padding-top: 20px;
  word-spacing: 20px;
}

.modal-content-contacts h5{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 20px;
  color:white;
  padding: 10px;
  font-weight: 200;
  margin: 0px 100px 10px 70px;
}


/* For smartphone */

@media (max-width: 600px) {

  /* Reset style sheet */

  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  html, body {
    font-size: 80%; /* Reduce font-size for mobile screens */
    font-family: 'Lobster', cursive;
    background-color: white;
    color: #fff;
    overflow-x: hidden;
    line-height: 1.5;
  }

  .container {
    flex-direction: column; /* stack the elements vertically */
    height: auto; /* Allow the height to expand as needed */
  }

  .left, .right {
    width: 100%; /* Take up full width on small screens */
  }

  .right {
    grid-template-columns: 1fr; /* Change to one column layout */
    grid-template-rows: auto; /* Allow rows to take up as much space as needed */
  }

  .left.box {
    width: 100%; /* Take up full width on small screens */
  }

  .left.box p {
    font-size: 16px; /* Reduce font-size for mobile screens */
    width: 90%; /* Allow text to take more width */
  }

  .img-me {
    margin: 20px; 
    height: auto; /* Maintain aspect ratio */
    width: 80%; /* Allow image to take more width */
  }

  .box {
    height: auto; /* Allow boxes to expand as needed */
  }

  .modal-content-about,
  .modal-content-skills,
  .modal-content-projects {
    width: 90%; /* Allow modal content to take up more width */
    height: auto; /* Allow modal content to expand as needed */
  }

  .skills-section,
  .skills-section-lg {
    max-width: 100%; /* Allow skills section to take up full width */
  }

  .programming-item,
  .tools-item,
  .others-item {
    width: auto; /* Allow items to take up as much width as needed */
    white-space: nowrap; /* Prevent wrapping of text */
  }

  .progress-text {
    width: auto; /* Allow text to take up as much width as needed */
    padding-left: 0px; /* Remove unnecessary padding */
  }

  #pp_preview {
    padding: 0px 20px; /* Reduce padding */
    height: auto; /* Maintain aspect ratio */
    width: 100%; /* Allow image to take full width */
  }

}


