/* Reset style sheet */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-size: 100%;
    font-family: 'Lobster', cursive;
    background-color: white;
    color: #fff;
    overflow-x: hidden;
    line-height: 1.5;
  }
  
  img, video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
  
  /* Global */
  
  html {
    scroll-behavior: smooth;
  }
  
  /* Header */
  
  .header-body-background {
    background-image: url("../img/main_background.jpeg");
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:700px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  color:#5ce1e6;
} 

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  margin-left: 3rem;
}

header nav ul li a {
  font-size: 1.3rem;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: white;
}
  
/* Showcase */
  
  .parallax {
    /* The image URL will be the image you want to use */
    background-image: url("../img/main_background.jpeg");
    height: 700px; /* Set a specific height */
    background-attachment: fixed;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.content {
    height: 700px; 
}

.record-container {
  position: relative;
  width: 300px;  /* the same width as the image */
  height: 300px;  /* the same height as the image */
  margin: 0 auto;  /* center the container */
  margin-top: 50px;
}

.record-container h1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;  /* adjust this to fit the text within the image */
  z-index: 1;
}

.content h1{
  font-size: 75px;
  z-index: 2;
  text-align: center;
  padding-top: 130px;
  color:#5ce1e6;
  text-shadow: -2px -2px 0  #806600,
  2px -2px 0  #806600,
 -2px 2px 0  #806600,
  2px 2px 0  #806600;
  font-weight: bolder;
  animation: heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.content img.spin {
  position: absolute;
  top: 80%; /* To center it vertically */
  left: 50%; /* To center it horizontally */
  transform: translate(-50%, -50%); /* To shift the image's center to the exact center of the container */
  z-index: 1; /* This will keep the image below the text */
  width: 300px; 
  animation: spin 2s infinite linear; 
}

.corner-image {
  position: absolute;
  bottom: 0;
}

.corner-image.left {
  left: 0;
  bottom: -100px;
  width: 400px; 
}

.corner-image.right {
  right: 0;
  bottom: -10px;
  width: 300px; 
}

@keyframes spin {
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes heading {
  0% {top: -40px;}
  100% {top: 175px;}
}

/*About me showcase */

.about{
  background: url(../img/me.png) no-repeat;
  background-color: white;
  height: 700px;
  background-size: 380px;
  background-position: left;
  margin-top: 0;
  padding-top: 0;
  margin-left: 50px;
}


.gradient-text{
  margin-left: 250px;
  margin-top: 150px;
  margin-bottom: 0;
  display: inline-block;
  text-align: center;
  width: 500px;
  font-size: 50px;
  background-image: linear-gradient(90deg,#2ca2b4,#5598de,
  #7f87ff 45%,#f65aad 76%,#ec3d43);
  color: transparent;
  -webkit-background-clip: text;
}

.about p{
  color:black;
  margin-top:10px;
  font-size:25px;
  margin-left: 410px;
  font-weight:400;
  font-family:'Courier New', Courier, monospace;
}

/* For smartphone */

@media (max-width: 600px) {
  .corner-image {
      width: 50px; 
  }

  .corner-image.left {
      left: 20px; /* adjust the position so it doesn't go off the edge of the screen */
  }

  .corner-image.right {
      right: 20px; /* adjust the position so it doesn't go off the edge of the screen */
  }
}

