/* Reset style sheet */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-size: 100%;
    font-family: 'Lobster', cursive;
    background: linear-gradient(180deg, 00BFF1,#004b84);
    color: #fff;
    overflow-x: hidden;
    line-height: 1.5;
  }
  
  img, video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
  
  /* Global */
  
body, html {
    height: 100%; 
}

.bolder-text {
  font-family:'Courier New', Courier, monospace;
  font-weight: 800;
}
  
/* Showcase */


.container {
  display: flex;
  height: 100vh; /* This will make the container take up the full viewport height */
  position: relative;
  z-index: 2;
}


.left.box {
  background-color: rgba(255, 181, 179, 0.8); 
  border-style: None;
  border-radius: 50px;
  height: 700px;
  width: 400px;
  margin: 50px 20px 10px 20px
}


.left, .right {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.left {
  justify-content: space-between; 
}

.right {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr; /* This creates two equal width columns */
  grid-template-rows: repeat(3, 1fr); /* This creates three equal height rows */
}

.left.box p {
  font-size: 19px;
  margin-top: 10px;
  width: 300px;
  text-align: left;
}

.img-me {
  margin: 40px; 
  height: 400px;
  width: 350px;
}

.box {
  height: 33.33%; /* This will make each box take up a third of the container's height */
  box-sizing: border-box; /* This includes the border in the element's total width and height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style: None;
  font-size: 23px;
  
}

.box h2:hover {
  color: #7f87ff;
}

.about-me {
  background-color: rgba(0, 75, 132, 0.8);
  margin: 50px 30px 10px 20px;
  height: 200px;
  border-radius: 50px;
}
  
.skills {
  background-color: #ffbd59;
  height: 200px;
  margin: 50px 30px 10px 20px;
  border-radius: 50px;
}

.projects {
  background-color: #a548ff;
  margin: 10px 30px 0px 20px;
  height: 200px;
  border-radius: 50px;
}

.copyright {
  font-size: 18px;
  background-color: #00c4cc;
  height: 200px;
  border-radius: 50px;
  margin: 0px 30px 10px 20px;
}

.contacts {
  background-color: #fa643f;
  margin: 0px 30px 10px 20px;
  height: 200px;
  border-radius: 50px;
}

.carrier {
  background-color: #ff5757;
  margin: 10px 30px 0px 20px;
  height: 200px;
  border-radius: 50px;
}

#fireworks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


/* Modal About Me */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; 
  background-color: rgba(178, 187, 190, 0.3); /* Opacity */
}

.modal-content-about {
  background-color: #fefefe;
  color: black;
  margin:auto;
  padding: 20px 30px 0px 50px;
  border: 15px outset #00c4cc;
  width: 80%;
  height: 600px;
  overflow: auto; 
}

.close {
  color: black;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #2ca2b4;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-about p{
  font-family:'Courier New', Courier, monospace;
  font-weight: 500;
  margin-top: 20px;
}


.gradient-text{

  display: inline-block;
  text-align: left;
  width: 180px;
  font-size: 45px;
  background-image: linear-gradient(0deg,#2ca2b4 0%,#5598de 25%,
  #7f87ff 50%,#f65aad,#ec3d43);
  color: transparent;
  -webkit-background-clip: text;
}

#car_oldies {
  margin: 0px;
  height: 90px;
  width: 90px;
  padding-bottom: 10px;
  margin-right: 20px;
}

/* Modal Skills */

.modal-content-skills {
  background-color: #fefefe;
  color: black;
  margin:auto;
  padding: 20px 30px 0px 50px;
  border: 15px outset #00c4cc;
  width: 80%;
  height: 600px;
  overflow: auto; 
}

#record {
  margin: 0px;
  height: 70px;
  width: 50px;
  padding-bottom: 20px;
  margin-right: 20px;
}

.skills-section {
  width: 100%;
  max-width: 920px;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.programming-list {
  list-style: none;
  padding: 0px;
  display: flex;
  margin-bottom: 10px;
}

.programming-item {
  margin-right: 30px;
  padding: 10px 10px;
  border: 5px solid #68e5e9;
  border-radius: 40px;
  display: inline-block;
  width: 200px;
  text-align: center;
  background-color: #68e5e9;
  cursor: pointer;
}

.skills-section h4{
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
}


.tools-list {
  list-style: none;
  padding: 0px;
  display: flex;
  margin-bottom: 10px;
}

.tools-item {
  margin-right: 30px;
  padding: 14px 20px;
  border: 5px solid #68e9a4;
  border-radius: 40px;
  display: inline-block;
  width: 300px;
  height: 60px;
  text-align: center;
  background-color: #68e9a4;
  cursor: pointer;
}

.skills-section-lg {
  width: 100%;
  max-width: 520px;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.skills-section-lg h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.language-name {
  font-size: 18px;
  margin-left: 5px;
}

.progress {
  background-color: #000000;
  border-radius: 50px;
  height: 25px;
}

.progress-bar {
  background-color: #dc5e34;
  height: 100%;
  border: solid #000000;
  border-radius: 50px;
}

.progress-text {
  font-size: 16px;
  width: 800px;
  text-align: center;
  padding-left: 200px;
}

.others-list {
  list-style: none;
  padding: 0px;
  display: flex;
  margin-bottom: 10px;
}

.others-item {
  margin-right: 30px;
  padding: 14px 20px;
  border: 5px solid #7f87ff;
  border-radius: 40px;
  display: inline-block;
  width: 300px;
  height: 60px;
  text-align: center;
  background-color: #7f87ff;
  cursor: pointer;
}

/* Projects */

.modal-content-projects {
  background-color: #fefefe;
  color: black;
  margin:auto;
  padding: 20px 30px 0px 50px;
  border: 15px outset #00c4cc;
  width: 80%;
  height: 600px;
  overflow: auto; 
}

#computer {
  margin: 0px;
  height: 75px;
  width: 60px;
  padding-bottom: 20px;
  margin-right: 20px;  
}

.project {
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.project h3 {
  color: rgb(255, 106, 0);
  font-size: 28px;
  margin-bottom: 8px;
}

.project h6{
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 8px;
}

.project p{
  margin-bottom: 20px;
}

#pp_preview {
  position: center;
  padding: 0px 100px 0px 80px;
  height: 500px;
  width:  900px;
}

/* Carrier */

.modal-content-carrier {
  background-color: #fefefe;
  color: black;
  margin:auto;
  padding: 20px 30px 0px 50px;
  border: 15px outset #00c4cc;
  width: 80%;
  height: 600px;
  overflow: auto; 
}

.carrier-section{
  font-family: 'Courier New', Courier, monospace;
  margin: 10px 20px 10px 20px;
}

.carrier-section h2{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  background-color: rgba(38, 251, 255, 0.5);
  border-radius: 40px;
  padding: 20px;
  
}



/* Contacts */


.modal-content-contacts {
  background-color: #fefefe;
  color: black;
  margin:auto;
  padding: 20px 30px 0px 50px;
  border: 15px outset #00c4cc;
  width: 80%;
  height: 400px;
  overflow: auto; 
}

.modal-content-contacts p {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 10px 0px 10px;
}

#linkedin {
  color: #0077b5;
}

#linkedin:hover{
  color:#7f87ff;
}

#github:hover{
  color:#7f87ff;
}

#email {
  color:#f4b46a;
}

#email:hover{
  color:#a1a1a1;
}

.contact-icon {
  font-size: 50px;
  transition: color 0.3s ease;
}


/* For smartphone */

@media (max-width: 600px) {

  /* Reset style sheet */

  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  html, body {
    font-size: 80%; /* Reduce font-size for mobile screens */
    font-family: 'Lobster', cursive;
    background-color: white;
    color: #fff;
    overflow-x: hidden;
    line-height: 1.5;
  }

  .container {
    flex-direction: column; /* stack the elements vertically */
    height: auto; /* Allow the height to expand as needed */
  }

  .left, .right {
    width: 100%; /* Take up full width on small screens */
  }

  .right {
    grid-template-columns: 1fr; /* Change to one column layout */
    grid-template-rows: auto; /* Allow rows to take up as much space as needed */
  }

  .left.box {
    width: 100%; /* Take up full width on small screens */
  }

  .left.box p {
    font-size: 16px; /* Reduce font-size for mobile screens */
    width: 90%; /* Allow text to take more width */
  }

  .img-me {
    margin: 20px; 
    height: auto; /* Maintain aspect ratio */
    width: 80%; /* Allow image to take more width */
  }

  .box {
    height: auto; /* Allow boxes to expand as needed */
  }

  .modal-content-about,
  .modal-content-skills,
  .modal-content-projects {
    width: 90%; /* Allow modal content to take up more width */
    height: auto; /* Allow modal content to expand as needed */
  }

  .skills-section,
  .skills-section-lg {
    max-width: 100%; /* Allow skills section to take up full width */
  }

  .programming-item,
  .tools-item,
  .others-item {
    width: auto; /* Allow items to take up as much width as needed */
    white-space: nowrap; /* Prevent wrapping of text */
  }

  .progress-text {
    width: auto; /* Allow text to take up as much width as needed */
    padding-left: 0px; /* Remove unnecessary padding */
  }

  #pp_preview {
    padding: 0px 20px; /* Reduce padding */
    height: auto; /* Maintain aspect ratio */
    width: 100%; /* Allow image to take full width */
  }

}

