/* Global */

::before,
::after{
    margin:0;
    padding:0;
}

html{
    font-size:10px;
    font-family: 'Share Tech Mono', monospace;
}

body{
    background-color: rgba(255, 255, 255, 0.931);
    margin:0;
}

.container{
   width:80%;
   margin:auto;
   overflow: hidden;
} 

.highlight{
    color:yellow;
}

ul{
    margin:0;
    padding:0;
}

.var{
    color:magenta;
}

.string{
    color:yellow;
}

/* Header */

header {
    color:white;
    background-color: rgba(0, 0, 255, 0.873);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: white 3px solid;
}

header a{
    color:white;
    text-decoration: none;
}

header li{
    float:left;
    display: inline;
    padding:0 20px 0 20px;
}

header #blanding{
    float: left;
}

header h1{
    margin:0;
    font-size: 40px;
}

header nav{
    float: right;
    margin-top: 10px;
    transition: opacity .5s;
    font-size: 20px;
}

header a:hover{
     opacity: .7;
     color:yellow;
}

/* Showcase */

#showcase{
    min-height: 400px;
    background: black;
    text-align: left;
    color:white;
    font-size: 25px;
    padding-top:20px;
}

#showcase h4{
    color:green;
}

.watch{
    background-color: black;
    color:white;
    height: 500px;
    margin: 0;
    padding: 0;
}

.watch h2{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.watch h4{
    color: red;
    text-align: center;
    font-weight: 350;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.watch h3{
     font-weight: 200;
     text-align: center;
     margin-top: 0;
     font-size: 20px;
}

.photo{
   text-align: center;
   margin: 0;
   padding: 0;
}

#apple2{
    text-align: center;
}

/*　Cta */
.cta{
    text-align: center;
    margin-top: 15px;
}
.cta-link{
    color:rgb(0, 128, 255);
    font-size: 20px;
    font-weight: 200;
    display: inline-block;
}

.cta-link:nth-child(2){
    margin-left: 30px;
}

.cta-link:hover{
    border-bottom:2px solid rgb(0, 128, 255);
}


/*　Cta1 */
.cta1{
    text-align: center;
    margin-top: 15px;
}
.cta1-link{
    color:rgb(0, 128, 255);
    font-size: 20px;
    font-weight: 200;
    display: inline-block;
}

.cta1-link:nth-child(2){
    margin-left: 30px;
}

.cta1-link:hover{
    border-bottom:2px solid rgb(0, 128, 255);
}

/* Mini showcase */


.iphone-14-pro{
    margin:0;
    padding:0;
    background:url(../img/pro2.jpg) no-repeat;
    width: 500px;
    height: 500px;
    background-position: center top;
    background-size: 1000px;
    color: white;
    border: 10px white solid;
}　

.title-heading{
    font-size: 40px;
    display: flex;
}

.propad h3{
   font-size:40px;
   text-align: center;
   padding-top:330px;
   padding-bottom: 0;
   margin-bottom: 0;
}

.iphone-14-pro h4{
    padding-top: 0;
    text-align:center;
    font-size:20px;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 0;
}

.propad{
    margin:0;
    padding:0;
    width:1000px;
    height:10em;
    background-size: 1000px;
    background: url(../img/ipad.png) no-repeat;
    border: 10px white solid;
}　

.title-heading{
    font-size: 40px;
}

.ipad h2{
    font-size:40px;
   text-align: right;
   padding:0 0 5000px 500px;
   padding-bottom: 0;
   margin-bottom: 0;
}

.ipad h3{
    padding-top: 0;
    text-align:right;
    font-size:20px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 0;
}

/* Explanation */

#explanation{
    background-color: rgb(210, 206, 206);
    border-top: white 10px solid;
}

/* Footer */
footer{
    background-color: rgb(210, 206, 206);
   
}

/* Store */

#show{
    background-color: rgb(227, 224, 224);
    width:1000px;
    height:500px;
   padding:0 0 0 100px;
}

#show h1{
    color:grey;
}

/* Mac */

.nav-link2{
    font-size: 1.2rem;
    color:rgb(205, 202, 202);
    padding:0 1rem;
    transition: opacity .5s;
    margin-bottom: 0;
}

.nav-link2:hover{
     opacity: .7;
     color:rgb(0, 128, 255);
}

.nav-list2{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top:50px;
    padding-left: 10px;
    padding-right: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav-air{
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/nav-mac.png) no-repeat;
    background-size:100px;
    color: black;
    font-size: larger;
}

.nav-pro{
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/nav-pro.png) no-repeat;
    background-size:90px;
    background-position: right 0.1%;
    color: black;
    font-size: larger;
}

.nav-24{
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 0;
    width:80px;
    height:80px;
    background:url(../img/nav-24.png) no-repeat;
    background-size:95px;
    color: black;
    font-size: larger;
}

.nav-mini{
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/nav-mini.png) no-repeat;
    background-size:80px;
   
    color: black;
    font-size: larger;
}

.nav-studio{
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/nav-studio.png) no-repeat;
    background-size:85px;
   
    color: black;
    font-size: larger;
}

.nav-mpro{
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
    width:80px;
    height:80px;
    background:url(../img/nav-mpro.png) no-repeat;
    background-size:60px;
   
    color: black;
    font-size: larger;
}

.nav-compare{
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/nav-compare.png) no-repeat;
    background-size: 70px;
    color: black;
    font-size: larger;
}

.nav-display{
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/nav-display.png) no-repeat;
    background-size: 80px;
    color: black;
    font-size: larger;
}

.nav-acc{
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/nav-acc.png) no-repeat;
    background-size: 75px;
    color: black;
    font-size: larger;
}

.nav-ventura{
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/nav-ventura.png) no-repeat;
    background-size: 70px;
    color: black;
    font-size: larger;
    background-position: left 10% top;
}

.mac-book-air{
    margin-top:50px;
}

.mac-book-air h5{
    text-align: center;
    color: rgb(255, 89, 0);
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 20px;
}

.mac-book-air h2{
    padding-top: 45px;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    font-size: 55px;
    text-align: center;
    font-weight: 700;
}

.mac-book-air h3{
  margin-top: 10px;
   font-size: 30px;
   text-align: center;
   font-weight: 400;
   padding-top: 0;
   padding-bottom: 0;
   margin-bottom: 10px;
}

.mac-book-air h4{
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    padding-top: 0;
}

#macphoto{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.mac-book-pro{
    background-color: black;
    color: white;
    height: 550px;
}

.mac-book-pro h5{
    text-align: center;
    color: rgb(255, 89, 0);
    padding-top: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 20px;
}

.mac-book-pro h2{
    padding-top: 45px;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    font-size: 55px;
    text-align: center;
    font-weight: 700;
}


.mac-book-pro h3{
    margin-top: 10px;
     font-size: 30px;
     text-align: center;
     font-weight: 400;
     padding-top: 0;
     padding-bottom: 0;
     margin-bottom: 10px;
  }
  
  .mac-book-pro h4{
      text-align: center;
      font-size: 20px;
      font-weight: 200;
      padding-top: 0px;
  }

  .get{
    background: rgb(240, 238, 238);
    margin: 0;
    padding: 5px;
    height: 45px;
  }

  .get h4{
    text-align: center;
    font-size: 12px;
    font-weight: 350;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .get h3{
    text-align: center;
    font-size: 12px;
    font-weight: 350;
    margin-top: 5px;
  }
  
  /* iPad */

  .nav-link3{
    font-size: 1.2rem;
    color:rgb(205, 202, 202);
    padding:0 1rem;
    transition: opacity .5s;
    margin-bottom: 0;
}

.nav-link3:hover{
     opacity: .7;
     color:rgb(0, 128, 255);
}

.nav-list3{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top:90px;
    padding-left: 10px;
    padding-right: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 90px;
}

.nav-ipadpro{
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 60px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/ipad-section/nav-ipadpro.png) no-repeat;
    background-size:120px;
    color: black;
    font-size: larger;
}

.nav-ipadair{
    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    width:80px;
    height:70px;
    background:url(../img/ipad-section/nav-ipadair.png) no-repeat;
    background-size:70px;
    font-size: larger;
    color: black;
   
}

.nav-ipad{
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 0;
    width:60px;
    height:80px;
    background:url(../img/ipad-section/nav-ipad.png) no-repeat;
    background-size:70px;
    color: black;
    font-size: larger;
}

.nav-ipadmini{
    margin-top: 0;
    padding-top: 80px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/ipad-section/nav-ipadmini.png) no-repeat;
    background-size:90px;
    color: black;
    font-size: larger;
    text-align: center;
}

.nav-compare2{
    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/nav-compare.png) no-repeat;
    background-size:95px;
    text-align: center;
    color: black;
    font-size: larger;
}

.nav-pencil{
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width:80px;
    height:80px;
    background:url(../img/ipad-section/nav-pencil.png) no-repeat;
    background-size:70px;
   
    color: black;
    font-size: larger;
}

.nav-keyboards{
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/ipad-section/nav-keyboards.png) no-repeat;
    background-size: 80px;
    color: black;
    font-size: larger;
}

.nav-ipadacc{
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/ipad-section/nav-ipadacc.png) no-repeat;
    background-size: 80px;
    color: black;
    font-size: larger;
}

.nav-ipados{
    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/ipad-section/nav-ipados.png) no-repeat;
    background-size: 85px;
    color: black;
    font-size: larger;
}

  .ipad-home{
    background: url(../img/ipad.png) no-repeat;
    height:500px;
    width: 1000px;
    background-size: 900px;
    margin-top: 0;
    padding-top: 0;
  }


.ipad-home h5{
    text-align: center;
    color: rgb(255, 89, 0);
    padding:150px 0 0 400px;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 200;
}

.ipad-home h2{
    padding: 0 0 0 400px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 55px;
    text-align: center;
    font-weight: 700;
}

.ipad-home h3{
   padding: 0 0 0 400px;
   font-size: 25px;
   text-align: center;
   font-weight: 400;
   margin-top: 0;
   margin-bottom: 0;
}

.ipad-home h6{
    padding: 0 0 0 400px;
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }

.ipad-home h4{
   text-align: center;
    font-size: 20px;
    font-weight: 200;
    padding:0 0 0 400px;

}

.cta-ipad {
    text-align: center;
    padding: 0 0 0 400px;
}

.ipad-pro-home{
    background: url(../img/ipad-pro.jpg) no-repeat;
    color: white;
    height:600px;
    width: 1400px;
    background-size: 1050px;
    margin-top: 0;
    padding-top: 0;
  }


.ipad-pro-home h5{
    text-align: center;
    color: rgb(255, 89, 0);
    padding:150px 600px 0 0;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 200;
}

.ipad-pro-home h2{
    padding: 0 600px 0 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 55px;
    text-align: center;
    font-weight: 700;
}

.ipad-pro-home h3{
   padding:  0 600px 0 0;
   font-size: 25px;
   text-align: center;
   font-weight: 400;
   margin-top: 0;
   margin-bottom: 0;
}

.ipad-pro-home h4{
   text-align: center;
    font-size: 20px;
    font-weight: 200;
    padding: 0 600px 0 0;

}

.cta-ipad-pro {
    text-align: center;
    padding:  0 600px 0 0;
}

/* iPhone */

.nav-iphonepro{
    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/iphone-section/nav-iphonepro.png) no-repeat;
    background-size: 75px;
    color: black;
    font-size: larger;
    background-position: right 50% top;
    font-weight: 300;
}

.nav-iphone14{
    margin-top: 0;
    padding-top: 68px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 0;
    width:80px;
    height:80px;
    background:url(../img/iphone-section/nav-iphone.png) no-repeat;
    background-size: 70px;
    color: black;
    font-size: larger;
    background-position: right 50% top;
    font-weight: 300;
}

.nav-iphone13{
    margin-top: 0;
    padding-top: 68px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 0;
    width:80px;
    height:80px;
    background:url(../img/iphone-section/nav-iphone.png) no-repeat;
    background-size: 70px;
    color: black;
    font-size: larger;
    background-position: right 50% top;
    font-weight: 300;
}

.nav-iphonese{
    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 0;
    width:80px;
    height:80px;
    background:url(../img/iphone-section/nav-iphonese.png) no-repeat;
    background-size: 90px;
    color: black;
    font-size: larger;
    background-position: right 50% top;
    font-weight: 300;
}

.nav-iphone12{
    margin-top: 0;
    padding-top: 72px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 0;
    width:80px;
    height:80px;
    background:url(../img/iphone-section/nav-iphone12.png) no-repeat;
    background-size: 75px;
    color: black;
    font-size: larger;
    background-position: right 50% top;
    font-weight: 300;
}

.nav-compare3{
    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/nav-compare.png) no-repeat;
    background-size:90px;
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: 300;
}

.nav-airpods{
    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/iphone-section/nav-airpods.png) no-repeat;
    background-size:90px;
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: 300;
}

.nav-airtag{
    margin-top: 0;
    padding-top: 70px;
    padding: smaller;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/iphone-section/nav-airtag.png) no-repeat;
    background-size:60px;
    background-position: bottom 90% center;
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: 300;
}

.nav-iphoneacc{
    margin-top: 0;
    padding-top: 80px;
    padding: smaller;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/iphone-section/nav-iphoneacc.png) no-repeat;
    background-size: 100px;
    background-position: bottom 90% center;
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: 300;
}

.nav-applecard{
    margin-top: 0;
    padding-top: 80px;
    padding: smaller;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 10px;
    width:80px;
    height:80px;
    background:url(../img/iphone-section/nav-applecard.png) no-repeat;
    background-size: 90px;
    background-position: bottom 90% center;
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: 300;
}

.get2{
    background: rgb(240, 238, 238);
    margin: 0;
    padding: 5px;
    height: 45px;
    padding-bottom: 0;
  }

  .get2 h4{
    text-align: center;
    font-size: 12px;
    font-weight: 350;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .get2 h3{
    text-align: center;
    font-size: 12px;
    font-weight: 350;
    margin-top: 5px;
  }

.iphone-showcase{
    background: url(../img/pro.jpg) no-repeat;
    background-color: black;
    height: 500px;
    background-size: 500px;
    background-position: center top 150%;
    margin-top: 0;
    padding-top: 0;
}

.iphone-showcase h5{
    color:grey;
    text-align: center;
    font-size: 15px;
    margin-top: 0;
    padding-top: 30px;
    font-weight: 300;
    padding-bottom: 0;
    margin-bottom: 0;
}

.iphone-showcase h2{
    color:white;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    padding-top: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.gradient-text{
    margin-top: 0;
    margin-bottom: 0;
   padding-left: 340px;
    display: inline-block;
    text-align: center;
    font-size: 50px;
    background-image: linear-gradient(180deg,#ffb6ff,#b344ff);
    color: transparent;
    -webkit-background-clip: text;
}

.iphone-showcase h4{
    color:white;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    padding-top: 10px;
    font-weight: 200;
    margin-bottom: 10px;
}

.cta-iphone{
    text-align: center;
    margin-top: 0;
}

.iphone-showcase2{
    background: url(../img/iphone14.png) no-repeat;
    background-color: white;
    height: 700px;
    background-size: 1200px;
    background-position: center top 150%;
    margin-top: 0;
    padding-top: 0;
}

.iphone-showcase2 h5{
    color:grey;
    text-align: center;
    font-size: 15px;
    margin-top: 0;
    padding-top: 50px;
    font-weight: 300;
    padding-bottom: 0;
    margin-bottom: 0;
}

.iphone-showcase2 h2{
    color:black;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    padding-top: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.gradient-text2{
    margin-left: 250px;
    
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
    width: 500px;
    font-size: 50px;
    background-image: linear-gradient(90deg,#2ca2b4,#5598de,
    #7f87ff 45%,#f65aad 76%,#ec3d43);
    color: transparent;
    -webkit-background-clip: text;
}

.iphone-showcase2 h4{
    color:black;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    padding-top: 20px;
    font-weight: 200;
    margin-bottom: 10px;
}

.cta-iphone2{
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
}

.iphone-showcase3{
    background-color: white;
    background-size: 300px;
    height: 700px;
    background-position: center bottom 100%;
    margin-top: 0;
    padding-top: 0;
}

.iphone-showcase3 h2{
    color: black;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    padding-top: 50px;
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 0;
}

.iphone-showcase3 h3{
    color:#1e3791;
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.iphone-showcase3 h4{
    color:black;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    padding-top: 10px;
    font-weight: 300;
    margin-bottom: 10px;
}

#iphone-se{
    background: url(../img/iphonese.png) no-repeat;
    width: 1000px;
    height: 500px;
    background-position: center;
    background-size:  700px;
}

/* Watch */

.get3{
    background: rgba(210, 8, 8, 0.919);
    margin: 0;
    padding: 5px;
    height: 60px;
    padding-bottom: 0;
  }

  .get3 h4{
    text-align: center;
    font-size: 13px;
    font-weight: 350;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    color:white;
  }

  .get3 h3{
    text-align: center;
    font-size: 13px;
    font-weight: 350;
    margin-top: 5px;
    color:white;
  }


.watch-showcase{
    background-color: rgb(255, 252, 252);
    height: 500px;
    background-size: 500px;
    background-position: center top 150%;
    margin-top: 0;
    padding-top: 0;
}

.watch-showcase h5{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.watch-showcase p{
    margin-top: 0;
    padding-top:0;
    text-align: center;
    color:rgb(255, 102, 0);
    font-size: 15px;
    font-weight: 700;
 }

.watch-showcase h2{
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    padding-top: 0px;
    margin-bottom: 10px;
}

.watch-showcase h4{
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    padding-top: 10px;
    font-weight: 500;
    margin-bottom: 30px;
}

.cta-watch{
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}


.watch-showcase2{
    background: url(../img/apple8.jpg) no-repeat;
    background-color: black;
    height: 600px;
    background-size: 600px;
    background-position: left ;
    margin-top: 300px;
    padding-top: 0;
}

.watch-showcase2 h5{
    color:white;
    margin-left:600px;
    font-size: 35px;
    padding-top: 150px;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.watch-showcase2 h2{
   margin-left: 670px;
   font-weight: 400;
    color: red;
   font-size:1.5em;
   padding-top: 0;
   margin-top: 0;
}


.watch-showcase2 h3{
    margin-left: 500px;
    color: white;
    font-size:40px;
    padding-top: 10px;
    margin-top: 0;
 }

.watch-showcase2 h4{
    margin-left: 670px;
    color:white;
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
    font-weight: 300;
    margin-bottom: 30px;
}

.cta-watch2{
    margin-left: 600px;
    margin-top: 0;
    margin-bottom: 30px;
}

.watch-showcase3{
    background: url(../img/watch-se.png) no-repeat;
    background-color:white;
    height: 500px;
    background-size: 700px;
    background-position: right;
    margin-top: 0;
    padding-top: 0;
}

.watch-showcase3 h2{
    color:black;
    margin-left:120px;
    font-size: 35px;
    padding-top: 130px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
}

.watch-showcase3 h3{
   margin-left: 210px;
    color: rgba(255, 0, 0, 0.851);
   font-size:1.5em;
   padding-top: 0;
   margin-top: 0;
}

.watch-showcase3 h5{
    color:black;
    margin-right:600px;
    font-size: 35px;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 25px;
    text-align: center;
}

.watch-showcase3 h4{
    color:black;
    margin-right:600px;
    font-size: 20px;
    padding-top: 0;
    margin-bottom: 40px;
    margin-top: 0;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 500;
}

.cta-watch3{
    margin-left: 120px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: bolder;
}

